.image {
    width: 200px;
    height: 150px;
    border-radius: 15px 15px 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    background-color: #dfe4ea;
    border-radius: 15px;
    box-shadow:  2px 2px 20px 5px #a5b1c2;
    transition: box-shadow .4s;
}
.container:hover {
    box-shadow:  0 0 3px 5px #26de81;
}

.informarionBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 5px 10px 5px;
}
.informarionBox p {
    width: 45px;
    font-weight: 700;
    background-color: #20bf6b;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
}

.countBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.countBox img{
    width: 30px;
    cursor: pointer;

}
.countBox img:hover{
    color: #20bf6b;
}
.countBox span{
    width: 30px;
    text-align: center;
    padding: 10px;
    cursor: default;
}
.countBox .deactiveButton {
    opacity: .3;
}